.jumbotron {
  color: white;
  background-image: url("../img/rando.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 0px;
}

.jumbotron, h1 {
	position: center;
}


html, body {
  /* position: relative;
  min-height: 100%;*/
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -200px; 
}

.push {
  height: 220px;
}

.footer {
  height: 200px;
	bottom: 0;
  width: 100%; 
	background-color: #333;
	color: white;
	padding-top: 20px;
}