.jumbotron {
  color: white;
  background-image: url("../img/rando.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 0px;
}

.jumbotron, h1 {
	position: center;

}