html {
  background-color: grey;
  font-size: 20px;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

ol {
	background: yellow;
	padding: 30px;
	border: 4px solid white
}

li {
  margin-left: 20px;
}