<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Amaury Fouville - CV web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style2.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script type="text/javascript" src="../static/js/js.js"></script>
</head>

  <!-- body -->

<body>

  <!-- header -->
<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Amaury Fouville</h1>
    <h2>Double diplôme <abbr title="Institut Mines Télécom">IMT</abbr> Atlantique - <abbr title="Grenoble École de Management">GEM</abbr><br>
        CDI à partir de <time datetime="2019-07">Juillet 2019</time>
    </h2>
  </div>
</div>

<!-- Barre de navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="./index.html">Expériences</a></li>
        <li class="active"><a href="./formation.html">Formation</a></li>
        <li><a href="./atouts.html">Atouts et Compétences</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./pdfs/cv.pdf" title="Amaury Fouville - CV (pdf, 509 ko)"><span class="glyphicon glyphicon-download-alt"></span> CV (pdf, 509 ko)</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenu de la page -->

<div class="container">

  <h2>Formation</h2>
  <hr>

  <!-- GEM -->
  <div class="row">

    <h3>École de commerce - <a href="https://www.grenoble-em.com/">Grenoble École de Management</a> <small>Grenoble - <time datetime="2018">2018</time> à <time datetime="2019">2018</time></small></h3>

    
      <h4>Enseignements suivis :</h4>
      <p>&quot;Management du Changement&quot;, &quot;Management de la Diversité&quot;, &quot;Marketing&quot;, &quot;Géopolitique&quot;, &quot;Économie Écologique&quot; et &quot;Apprendre à Désobéir&quot;</p>
  </div>
  <hr>

  <!-- TB -->
  <div class="row">
    
    <h3>École d’ingénieur - <a href="https://www.imt-atlantique.fr/fr">IMT Atlantique</a> (cursus Télécom Bretagne) <small>Brest - <time datetime="2014">2014</time> à <time datetime="2018">2018</time></small></h3>
    
      <h4>Spécialisations : </h4>
      <p>&quot;Business Intelligence&quot; et &quot;Management des Systèmes d'Information&quot;</p>
      <h4>Enseignements suivis :</h4>
      <p>&quot;Informatique&quot;, &quot;Sciences Economiques et Sociales&quot; et &quot;Réseaux&quot;</p>

  
  </div>
  <hr>

  <!-- TUD -->
  <div class="row">
    <h3>Semestre Académique - <a href="https://tu-dresden.de/">Technische Universität Dresden</a> <small>Allemagne - <time datetime="2016-02">Février 2016</time> à <time datetime="2016-08">Août 2016</time></small></h3>
    
  </div>
  <hr>

  <!-- CPGE -->
  <div class="row">
    <h3>Classes Préparatoires aux Grandes Écoles, Physique Chimie <small>Saint-Maur-des-Fossés - <time datetime="2012">2012</time> à <time datetime="2014">2014</time></small><h3>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <p>Navigation sur le site :</p>
        <ul>
          <li><a href="./index.html">Expériences</a></li>
          <li><a href="./formation.html">Formation</a></li>
          <li><a href="./atouts.html">Atouts et Compétences</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>Contacts :</p>
        <p><a href="mailto:amaury.fouville@gmail.com"><i class="fa fa-envelope"></i></a></p>   
        <p><a href="https://www.lindekin.com/in/amauryfouville"><i class="fa fa-linkedin"></i></a><br></p>
        </ul>
      </div>
      <div class="col-md-2">
      </div>
     </div>
  </div>
  <div class="container-fluid text-center">
    <p>amauryfouville.github.io © 2019 CV Web en construction</p>
</footer>


</body>
</html>

