<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Amaury Fouville - CV web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style2.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="./static/js/js.js"></script>
</head>

  <!-- body -->

<body>

  <!-- header -->
<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Amaury Fouville</h1>
    <h2>Double diplôme <abbr title="Institut Mines Télécom">IMT</abbr> Atlantique - <abbr title="Grenoble École de Management">GEM</abbr><br>
        CDI à partir de <time datetime="2019-07">Juillet 2019</time>
    </h2>
  </div>
</div>

<!-- Barre de navigation -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

     <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="./index.html">Expériences</a></li>
        <li><a href="./formation.html">Formation</a></li>
        <li><a href="./atouts.html">Atouts et Compétences</a></li>
       </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./pdfs/cv.pdf" title="Amaury Fouville - CV (pdf, 509 ko)"><span class="glyphicon glyphicon-download-alt"></span> CV (pdf, 509 ko)</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenu de la page -->

<div class="container">

  <h2>Expériences</h2>
  <hr>

  <!-- Exp 1 -->
  <div class="row">

    <h3>Consultant Stagiaire - <a href="https://www.tnpconsultants.com/fr">TNP Consultants</a> <small>Neuilly-sur-Seine - <time datetime="2018-03">Mars 2018</time> à <time datetime="2018-08">Août 2018</time></small></h3>

    <div class="col-md-5">
      <h4>Réalisations au sein du cabinet :</h4>
      <ul>
        <li>Benchmark des services Cloud Public AWS, Azure, GCP & Alibaba, définition de use cases</li>
        <li>Conception de supports de formation Cloud - FinOps</li>
      </ul>
    </div>

    <div class="col-md-7">
    <h4>Mission pour le compte d’<a href="https://www.adeo.com/">ADEO</a>, Transformation vers le Cloud :</h4>
      <ul>
        <li>Élaboration de la gouvernance du programme Cloud entrepris</li>
        <li>Scrum Mastering, accompagnement en vue de l'autonomie</li>
        <li>Sensibilisation des collaborateurs à l’Agile (formations 4h), embarquement collaborateurs</li>
        <li>Création de supports de communication, rayonnement et ancrage du programme</li>
      </ul>
    </div>
  </div>
  <hr>

  <!-- Exp 2 -->
  <div class="row">
    
    <h3>Assistant Chef de Projet MOA – <a href="https://www.chanel.com/fr_FR/">CHANEL</a> Horlogerie-Joaillerie <small>Paris - <time datetime="2017-03">Mars 2017</time> à <time datetime="2017-09">Septembre 2017</time></small></h3>
    <div class="col-md-5">
      <h4>Projet de refonte des process et outils Supply Chain :</h4>
      <ul>
        <li>Recette des développements projet</li>
        <li>Rédaction de la documentation</li>
      </ul>
    </div>

    <div class="col-md-7">
      <h4>Administration de l’outil Business Intelligence :</h4>
      <ul>
        <li>Vérifications mensuelles des reportings de ventes et stocks mondiaux, intégrité des données</li>
        <li>Administration de la base de données globale, centralisation et suivi des tâches et incidents</li>
        <li>Formation des nouveaux collaborateurs et support utilisateurs au niveau groupe</li>
      </ul>
    </div>
  
  </div>
  <hr>

  <!-- Exp 3 -->
  <div class="row">
    <h3>S.O.G.E.V <small>Aix-en-Provence - <time datetime="2015-07">Juillet 2015</time> à <time datetime="2015-08">Août 2015</time></small></h3>
    <h4>Stage ouvrier de six semaines en tant que manœuvre sur des chantiers</h4>
  </div>
  <hr>

  <!-- Exp 4 -->
  <div class="row">
    <h3>Secrétaire - Association Humanitaire <small> IMT Atlantique - <time datetime="2015">2015</time></small><h3>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <p>Navigation sur le site :</p>
        <ul>
          <li><a href="./index.html">Expériences</a></li>
          <li><a href="./formation.html">Formation</a></li>
          <li><a href="./atouts.html">Atouts et Compétences</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p>Contacts :</p>
        <p><a href="mailto:amaury.fouville@gmail.com"><i class="fa fa-envelope"></i></a></p>   
        <p><a href="https://www.lindekin.com/in/amauryfouville"><i class="fa fa-linkedin"></i></a><br></p>               
      </div>
      <div class="col-md-3">
      </div>
     </div>
  </div>
  <hr>
  <div class="container-fluid text-center">
    <p>amauryfouville.github.io © 2019 CV Web en construction</p>
</footer>


</body>

</html>